*
!.gitignore
!README.adoc
!CHANGELOG.adoc
!LICENSE
!AGENTS.md
!dub.json
!dub.selections.json
!source/
!source/**
!plugins/
!plugins/**
!shell/
!shell/**
!docs/
!docs/**
!.github/
!.github/**
!scripts/
!scripts/**
